#overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    background-color: black;
    height: 60vw;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.centerx2{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#beneficiar{
    display:grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(21, 214, 21);
    padding: auto;
}

#binefacator{
    display:grid;
    grid-template-rows: 1fr 1fr;
    background-color:rgb(252, 178, 40);
    padding: auto;
}

.button {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.button:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.button:active {
	position:relative;
	top:1px;
}

#historyhelped{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}

#historyhelping{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: center;
}

.graficHome{
    margin-top: 70px;
}